

.shopping-cart-title {
  font-size: 1.6rem;
  color: white;
}

.offcanvas {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
}

.offcanvas-header {
  background-color: #212529;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid white;
}



.cartEmptyMessage {
  color: white;
}

.cart-content {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  color: white;
  
}

.cart-content-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: white;
}

.cart-items-list {
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  max-height: calc(100% - 120px);
  overflow-y: auto;
  color: white;
  background-color: #212529;
  
  
}

.cart-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.cart-item-image-container {
  margin-right: 10px;
}

.cart-item-image {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  
  
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  
  
}

.cart-item-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
  
}

.cart-item-quantity,
.cart-item-price,
.cart-item-subtotal {
  margin-bottom: 5px;
  
}

.cart-item-actions {
  display: flex;
  flex-direction: column;
}

.btn-remove-one,
.btn-remove-all,
.btn-clear-cart {
  margin-top: 5px;
  cursor: pointer;
}

.btn-clear-cart {
  margin-top: 15px;
  cursor: pointer;
  position: sticky;
  top: 50px;
  z-index: 1;
}

.btn-remove-one,
.btn-remove-all {
  margin-top: 5px;
  cursor: pointer;
  color: #fff !important;
  background-color: #e64843 !important;
  border-color: #e64843 !important;
  transition: filter 0.3s ease, opacity 0.3s ease, background-color 0s !important;
  text-decoration: none !important;
  outline: none !important;
  width: 150px;
  height: 40px;
  -webkit-transition: filter 0.3s ease, opacity 0.3s ease, background-color 0s !important;
  -moz-transition: filter 0.3s ease, opacity 0.3s ease, background-color 0s !important;
  -ms-transition: filter 0.3s ease, opacity 0.3s ease, background-color 0s !important;
  -o-transition: filter 0.3s ease, opacity 0.3s ease, background-color 0s !important;
}


.btn-remove-one:hover,
.btn-remove-all:hover,
.btn-remove-one:focus,
.btn-remove-all:focus {
  background-color: #e64843 !important;
  outline: none !important;
  
  filter: brightness(95%);
  
  -webkit-filter: brightness(90%);
}


.btn-remove-one:active,
.btn-remove-all:active {
  filter: none !important; 
  opacity: 1 !important; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  transform: scale(0.98); 
}

.newButton {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.newButton:before,
.newButton:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 3px; 
  background-color: white;
  transition: background-color 0.3s, transform 0.3s; 
}

.newButton:hover:before,
.newButton:hover:after {
  background-color: rgb(221, 214, 214); 
}

.newButton:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.newButton:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.newButton:active {
  transform: scale(0.9); 
}
